<div class="container">
  <form [formGroup]="formGroupCidade">
    <div class="mb-3">
      <label for="city" class="form-label">Cidade</label>
      <input  formControlName="city"
              type="text"
              class="form-control"
              id="city"
              placeholder="Digite o nome da Cidade">
    </div>
    <div class="mb-3">
      <label for="country" class="form-label">País</label>
      <input  formControlName="country"
              type="text"
              class="form-control"
              id="country"
              placeholder="Digite o nome da País">
    </div>
    <div class="mb-3">
      <label for="population" class="form-label">População</label>
      <input  formControlName="population"
              type="text"
              class="form-control"
              id="population"
              placeholder="Digite o total da população nesta cidade">
    </div>
    <div class="mb-3">
      <label for="language" class="form-label">Idioma</label>
      <input  formControlName="language"
              type="text"
              class="form-control"
              id="language"
              placeholder="Digite o idioma nesta cidade">
    </div>
    <div class="mb-3">
      <label for="turism" class="form-label">Pontos Turísticos</label>
      <select
              *ngIf="isEditMode"
              class="form-select" id="turism" aria-label="Default select example">
              <option selected>Selecione um ponto Túristico</option>
              <option *ngFor="let option of turismOptions">
              {{option}}
              </option>
      </select>
      <input
              *ngIf="!isEditMode"
              formControlName="turism"
              type="text"
              class="form-control"
              id="turism"
              placeholder="Digite pontos turisticos da cidade">
    </div>
    <button
      *ngIf="isEditMode"
      type="submit"
      class="btn btn-primary"
      (click)="updateCity()"
      >Atualizar
    </button>
    <button
      *ngIf="!isEditMode"
      type="submit"
      class="btn btn-primary"
      (click)="saveCity()"
      >Salvar
    </button>
  </form>
</div>
