<div class="container">
  <button type="button" class="btn btn-outline-info" (click)="createNewCities()">Cadastrar</button>
  <table class="table table-bordered, table-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cidade</th>
        <th scope="col">País</th>
        <th scope="col">População</th>
        <th scope="col">Idioma</th>
        <th scope="col">Pontos Turísticos</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cidade of cidades">
        <th scope="row">{{cidade.id}}</th>
        <td scope="row"><a [routerLink]="['/cidade', cidade.id]">{{cidade.city}}</a></td>
        <td scope="row">{{cidade.country}}</td>
        <td scope="row">{{cidade.population}}</td>
        <td scope="row">{{cidade.language}}</td>
        <td scope="row">{{cidade.turism}}</td>
        <td><button type="button" class="btn btn-danger" (click)="delete(cidade)">Apagar</button></td>
      </tr>
    </tbody>
  </table>
</div>
