<div class="container">
  <table class="table table-bordered, table-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">País</th>
        <th scope="col">População</th>
        <th scope="col">Linguagem</th>
        <th scope="col">Pontos Turísticos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
